<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div class="index-wrapper">
        <h1>Welcome to TBA!</h1>
        <div class="index-welcome-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sunt autem explicabo culpa. Tenetur laboriosam repellendus, blanditiis iure fugit quae. Voluptate culpa expedita labore atque maxime excepturi ex iusto nostrum.</div>
        
        <div class="index-link-wrapper">
            <a href="/stock">
                <div class="index-link">
                    <div>View current stock</div>
                </div>
            </a>

            <a href="/genre">
                <div class="index-link">
                    <div>Browse by genre</div>
                </div>
            </a>

        </div>
    </div>
</body>
</html>